*{
  overflow: hidden;
}

.App{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.navbar{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 10vh;
  background-color: #d87093;
  color: white; 
  position: sticky;
  top: 0;
}

.mainbox{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.content{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 100%; 
  border: solid black 1px;
  font-size: 2em;
}

button{
  width: 10%;	
  height: 80%;
  background-color: #d87093;
  color: white;
  border: solid pink 1px;
}